* {margin: 0;padding: 0;}
	* {box-sizing: border-box;}
	*::after {box-sizing: border-box;}
	*::before {box-sizing: border-box;}
	ul,ol {list-style: none;}
	a {color: inherit;text-decoration: none;}
	input {font: inherit;}

	body {
		font-size: 12px;
		line-height: 1.5;
	}

	/* layout */
	.page {
		display: flex;
		height: 100vh;
	}

	.page >aside {
		width: 200px;
	}

	.page >main {
		flex-grow: 1;
	}

	/* aside */
	.page >aside {
		display: flex;
		flex-direction: column;
	}

	#newSong {
		text-align: center;
		padding: 10px;
	}

	#newSong.active {
		background-color: #d4d4d4;
	}

	.songList {
		flex-grow: 1;
		overflow: auto;
	}

	.songList li div {
		margin-left: 20px;
		margin-right: 20px;
		padding: 10px;
		border-bottom: 1px solid #ddd;
	}

	.songList li.active {
		background: #ddd;
	}

	.draggable {
		border-radius: 4px;
		border: 2px dashed #ddd;
		line-height: 1.2;
	}
	.clickable {
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	/* main */
	.page >main {
		padding: 20px;
		background: #d4d4d4;
	}

	form {
		font-size: 14px;
	}


	form input[type=text] {
		padding: 5px 8px;
		border: 1px solid #ddd;
		border-radius: 5px;
	}

	form input[type=submit],
	form input[type=button],
	form button {
		padding: 4px 8px;
		border-radius: 5px;
		background: white;
		border: 1px solid #666;
		outline: none;
		cursor: pointer;
	}

	form .row {
		margin: 10px 0;
		display: flex;
		height: 40px;
		align-items: center;
	}

	form label {
		width: 4em;
		margin-right: 10px;
		display: flex;
		justify-content: flex-end;
	}

	form .action {
		padding-left: calc(4em + 10px);
	}

	form .action input {
		margin-right: 10px;
	}

	form .action input:nth-child(2) {
		color: red;
	}