* {margin: 0; padding: 0;}
* {box-sizing: border-box;}
*::before,*::after {box-sizing: border-box;}
ul,ol {list-style: none;}
a {color: inherit; text-decoration: none;}
h1,h2,h3,h4,h5,h6 {font-weight: normal;}
.icon {width: 1em; height: 1em;vertical-align: -0.15em;fill: currentColor;overflow: hidden;}

body {
	font-size: 15px;
	color: rgb(51, 51, 51);
}

.sticky {
	position: fixed;
	width: 100%;
	height: 105px;
	top: 0;
	z-index: 1;
}

main {
	margin-top: 105px;
}

.topbar {
	background-color: #d43c33;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 64px;
	padding: 10px;
}

.topbar .logo svg {
	width: 142px;
}

.topbar .button {
  padding: 5px 11px;
  font-size: 15px;
  border-radius: 50px;
	box-shadow: 0 0 1px 0 rgba(255, 255, 255, 1);
}

.tabs {
	border-bottom: 1px solid #e6e6e6;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #fff;
}

.tabs.page2 {
	border-bottom-width: 0;
}

.tabs >li {
	padding: 10px 5px;
	border-bottom: 2px solid transparent;
}

.tabs >li.active {
	color: #d43c33;
	border-bottom-color: #d43c33;
}

.tabContent >li {
	display: none;
}

.tabContent >li.active {
	display: block;
}

/* page-1 */
.page-1 .sectionTitle {
	font-size: 17px;
	padding-left: 10px;
	border-left: 2px solid #d43c33;
	line-height: 1;
	margin-top: 20px;
	margin-bottom: 8px;
	display: inline-block;
}

.recommendSongs {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.recommendSongs li {
	width: 32.5%;
	margin: 15px 0;
}

.recommendSongs li img{
	width: 100%;
	height: 32.5vw;
	object-fit: cover;
}

.recommendSongs li p {
	font-size: 13px;
	padding-left: 6px;
	padding-right: 6px;
}

.newestSongs {
	margin-top: 8px;
}

.songList li {
	border-bottom: 1px solid #e2e2e3;
	margin-left: 12px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.songList li p {
	color: #a9a9a9;
	font-size: 12px;
	padding-left: 16px;
}

.songList .songItem {
	display: flex; justify-content: space-between; align-items: center;
}

.songItem .logo {
	padding: 0 8px;
}

.songItem .logo svg {
	width: 30px;
	height: 30px;
	fill: #a9a9a9;
}

.songItem h3 {
	font-size: 17px;
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 18px;
	padding-top: 16.9%;
}

.footer .logo svg {
	width: 230px;
}

.footer a {
	font-size: 16px;
	color: #d43c33;
	border: 1px solid;
	padding: 12px 18px;
	border-radius: 50px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.footer .copyright {
	font-size: 12px;
	color: #888888;
	transform: scale(.75);
}

/* page-2 */
.banner img {
	width: 100%;
}

/* page-3-1 */
.searchModule form {
  width: 100vw;
  height: 60px;
  border: 1px solid #eeeff0;
  padding: 15px 10px;
}
.searchModule .search {
  width: 100%;
  height: 30px;
  border-radius: 30px;
  outline: none;
  border: none;
  background-color: #ebecec;
  padding: 0 30px;
}
.searchModule .search::-webkit-input-placeholder{
  color: #c9c9c9;
}
.searchModule form .row {
  position: relative;
}
.searchModule .icon {
  width: 17px;
  height: 17px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.searchModule form .search-icon {
  position: absolute;
  width: 30px;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchModule form .clear-icon {
  position: absolute;
  width: 30px;
  height: 100%;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  padding: 8px;
  display: none;
}
.searchModule form .clear-icon.active {
  display: flex;
}
.searchModule .hint {
  display: none;
}
.searchModule .hint.active {
  display: block;
}
.searchModule .hint >p {
  padding: 15px 10px;
  font-size: 15px;
  color: #507daf;
  border-bottom: 1px solid #eeeff0;
  display: none;
}
.searchModule .hint >p.active {
	display: block;
}
.searchModule ul.hintList >li{
  display: flex;
  font-size: 15px;
  padding-left: 9px;
}
.searchModule ul.hintList >li .icon {
  width: 22px;
  height: 22px;
}
.searchModule ul.hintList >li .search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchModule ul.hintList >li p {
  padding: 12px;
  border-bottom: 1px solid #eeeff0;
  flex-grow: 1;
}
.searchModule .resultList {
	display: none;
}
.searchModule .resultList.active {
	display: block;
}

/* page-3-2 */
.hotModule {
  padding: 15px 10px 0;
  display: none;
}
.hotModule.active {
  display: block;
}
.hotModule h6 {
  color: #666;
  font-size: 12px;
  line-height: 12px;
}
.hotModule .tagBox {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
}
.hotModule .tag {
  font-size: 14px;
  border: 1px solid #ededf1;
  border-radius: 32px;
  padding: 5px 14px;
  margin: 0 8px 8px 0;
}